//
   Created by khris on 11-13-16.

extends ../base

append head
    style.

block enlaces
    li
        a.page-scroll(href='/inicio') inicio
    li
        a.page-scroll(href='/prueba') consultar
    li
        a.page-scroll(href='/prueba/crear') nueva
    li
        a.page-scroll(href='#prueba') prueba


block content

    section#prueba
        .container(ng-controller="temperatura")
            .row
                .col-lg-12
                    h2 Control de Temperaturas:
                    .panel.panel-primary
                        .panel-heading Informacion sobre la prueba
                        .panel-body
                            .row
                                .col-md-12
                                    .panel.panel-info
                                        .panel-heading informacion de la prueba
                                        .panel-body
                                            .row
                                                .col-md-6
                                                    h6 Id de prueba: {{prueba._id}}
                                                    h6 Titulo: {{prueba.titulo}}
                                                    h6 Carnet de estudiante: {{prueba.carnet}}
                                                    h6 Descripcion: {{prueba.descripcion}}
                                                    h6 Fecha de creacion: {{prueba.fecha | date: 'medium'}}
                                                .col-md-6
                                                    h5 aletas
                                                    h6(ng-if="prueba.aletaSimple.estado") aleta simple :
                                                        span.label.label-primary( ng-bind="prueba.aletaSimple.material.nombre")
                                                        | -
                                                        span.label.label-info(ng-bind="prueba.aletaSimple.tipo.forma")
                                                    h6(ng-if="!prueba.aletaSimple.estado") aleta simple : NO APLICA
                                                    h6(ng-if="prueba.aletaConjunto.estado") aleta de conjunto :
                                                        span.label.label-primary(ng-bind="prueba.aletaConjunto.material.nombre")
                                                        | -
                                                        span.label.label-info(ng-bind="prueba.aletaConjunto.tipo.forma")
                                                    h6(ng-if="!prueba.aletaConjunto.estado") aleta de conjunto : NO APLICA
                                                    h6 estado:
                                                        span.label.label-success(ng-if="prueba.realizada") realizada
                                                        span.label.label-warning(ng-if="!prueba.realizada") sin realizar
                                                hr
                                            .row
                                                .col-md-12
                                                    h5 Configuraciones extra de sensores
                                                    .row
                                                        .col-sm-4
                                                            .input-group
                                                                span.input-group-addon
                                                                    input(type="checkbox", ng-model="configuracion", ng-disabled="pruebaEnProgreso")
                                                                label.form-control desactivar sensores

                                                    .row(ng-if="configuracion")
                                                        hr
                                                        .col-sm-2
                                                            .input-group
                                                                span.input-group-addon
                                                                    input(type="checkbox", ng-disabled="pruebaEnProgreso", ng-model="desact[0]")
                                                                label.form-control s 0
                                                        .col-sm-2
                                                            .input-group
                                                                span.input-group-addon
                                                                    input(type="checkbox", ng-disabled="pruebaEnProgreso", ng-model="desact[1]")
                                                                label.form-control s 1
                                                        .col-sm-2
                                                            .input-group
                                                                span.input-group-addon
                                                                    input(type="checkbox", ng-disabled="pruebaEnProgreso", ng-model="desact[2]")
                                                                label.form-control s 2
                                                        .col-sm-2
                                                            .input-group
                                                                span.input-group-addon
                                                                    input(type="checkbox", ng-disabled="pruebaEnProgreso", ng-model="desact[3]")
                                                                label.form-control s 3
                                                        .col-sm-2
                                                            .input-group
                                                                span.input-group-addon
                                                                    input(type="checkbox", ng-disabled="pruebaEnProgreso", ng-model="desact[4]")
                                                                label.form-control s 4
                                                        .col-sm-2
                                                            .input-group
                                                                span.input-group-addon
                                                                    input(type="checkbox", ng-disabled="pruebaEnProgreso", ng-model="desact[5]")
                                                                label.form-control s 5

                            .row
                                .col-md-12
                                    hr
                                    .panel.panel-default
                                        .panel-heading temperaturas
                                        .panel-body
                                            .row
                                                .col-md-4
                                                .col-md-4(ng-if="!prueba.realizada")
                                                    a.btn.btn-lg.btn-success(ng-click="conectar()" ng-show="pruebaEnProgreso == false") Iniciar prueba
                                            .row(ng-if="pruebaEnProgreso == true || prueba.realizada")
                                                div
                                                    ul.nav.nav-tabs(role='tablist')
                                                        li.active(role='presentation')
                                                            a(href='#aleta1', aria-controls='aleta1', role='tab', data-toggle='tab', ng-if="prueba.aletaSimple.estado") {{prueba.aletaSimple.material.nombre}} - {{prueba.aletaSimple.tipo.forma}}
                                                            a(href='#aleta2', aria-controls='aleta2', role='tab', data-toggle='tab', ng-if="!prueba.aletaSimple.estado") {{prueba.aletaConjunto.material.nombre}} - {{prueba.aletaConjunto.tipo.forma}}
                                                        li(ng-if="prueba.conjunto" role='presentation')
                                                            a(href='#aleta2', aria-controls='aleta2', role='tab', data-toggle='tab') {{prueba.aletaConjunto.material.nombre}} - {{prueba.aletaConjunto.tipo.forma}}

                                                    // Tab panes
                                                    .tab-content
                                                        #aleta1.tab-pane.active(role='tabpanel', ng-if="prueba.aletaSimple.estado")
                                                            .col-lg-12.col-md-12
                                                                h3 Aleta Simple, {{prueba.aletaSimple.material.nombre}} - {{prueba.aletaSimple.tipo.forma}}
                                                            .col-lg-5.col-md-12
                                                                .row
                                                                    .col-lg-12.col-md-6

                                                                        h4 Perfil de temperatura 1
                                                                        canvas#diagPerfil1.chart.chart-line(chart-data='data1', chart-labels='labels1', chart-series='series1', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick', canvas = '')
                                                                        hr
                                                                    .col-lg-12.col-md-6
                                                                        h4 Temperatura/tiempo
                                                                        canvas#diagTiempo1.chart.chart-line(chart-data='data', chart-labels='labels', chart-series='series', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick', canvas = '')
                                                                        hr
                                                                        div(ng-if="!prueba.realizada")
                                                                            h4 Tiempo de prueba:
                                                                            h4
                                                                                timer(interval="1000") {{hours}} horas, {{minutes}} minutos, {{seconds}} segundo{{secondsS}}.
                                                            .col-lg-7.col-md-12
                                                                h4 Tabla de valores
                                                                div(style="height: 650px;overflow-y: auto;")
                                                                    table.table.table-bordered.table-striped.table-responsive
                                                                        thead
                                                                            tr
                                                                                th Tiempo(seg)
                                                                                th Sensor h
                                                                                th Sensor 1
                                                                                th Sensor 2
                                                                                th Sensor 3
                                                                                th Sensor 4
                                                                                th Sensor 5
                                                                                th accion
                                                                        tbody
                                                                            tr(ng-repeat="val in capturas.lista")
                                                                                td {{val.tiempo}} s
                                                                                td {{val.s1}} °C
                                                                                td {{val.s2}} °C
                                                                                td {{val.s3}} °C
                                                                                td {{val.s4}} °C
                                                                                td {{val.s5}} °C
                                                                                td {{val.s6}} °C
                                                                                td
                                                                                    a.btn.btn-info(ng-click="seleccionar(1,val)") seleccionar

                                                        #aleta2.tab-pane.active(role='tabpanel', ng-if="prueba.aletaConjunto.estado")
                                                            .col-lg-12.col-md-12
                                                                h3 Aleta de Conjunto, {{prueba.aletaConjunto.material.nombre}} - {{prueba.aletaConjunto.tipo.forma}}
                                                            .col-lg-5.col-md-12
                                                                .row
                                                                    .col-lg-12.col-md-6
                                                                        h4 Perfil de temperatura 2
                                                                        canvas#diagPerfil2.chart.chart-line(chart-data='dataPerfilConjunto', chart-labels='labelsPerfilConjunto', chart-series='seriePerfilConjunto', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick', canvas = '')
                                                                        hr
                                                                    .col-lg-12.col-md-6
                                                                        h4 Temperatura/tiempo
                                                                        canvas#diagTiempo2.chart.chart-line(chart-data='dataConjunto', chart-labels='labelsConjunto', chart-series='series', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick', canvas = '')
                                                                        hr
                                                                        div(ng-if="!prueba.realizada")
                                                                            h4 Tiempo de prueba:
                                                                            h4
                                                                                timer(interval="1000") {{hours}} horas, {{minutes}} minutos, {{seconds}} segundo{{secondsS}}.
                                                            .col-lg-7.col-md-12
                                                                h4 Tabla de valores
                                                                div(style="height: 650px;overflow-y: auto;")
                                                                    table.table.table-bordered.table-striped.table-responsive
                                                                        thead
                                                                            tr
                                                                                th Tiempo(Segundos)
                                                                                th Sensor h
                                                                                th Sensor 1
                                                                                th Sensor 2
                                                                                th Sensor 3
                                                                                th Sensor 4
                                                                                th Sensor 5
                                                                                th accion
                                                                        tbody
                                                                            tr(ng-repeat="val in capturas.lista")
                                                                                td {{val.tiempo}} s
                                                                                td {{val.s7}} °C
                                                                                td {{val.s8}} °C
                                                                                td {{val.s9}} °C
                                                                                td {{val.s10}} °C
                                                                                td {{val.s11}} °C
                                                                                td {{val.s12}} °C
                                                                                td
                                                                                    a.btn.btn-info(ng-click="seleccionar(2,val)") seleccionar


                                        .panel-footer
                                            .row(ng-if="pruebaEnProgreso == true")
                                                .col-md-3(ng-if="(estadoPrueba!= 4)")
                                                    a.btn.btn-lg.btn-danger( ng-disabled="(estadoPrueba== 4)", ng-click="desconectar()") Cancelar Prueba
                                                .col-md-3(ng-if="(estadoPrueba == 2 || estadoPrueba==3)")
                                                    a.btn.btn-lg.btn-warning( ng-click="reiniciar()") Reinicar prueba
                                                .col-md-3(ng-if="(estadoPrueba == 2)")
                                                    a.btn.btn-lg.btn-info( ng-click="finalizar()") Finalizar prueba
                                                .col-md-3(ng-if="(estadoPrueba == 3 || estadoPrueba == 5)")
                                                    a.btn.btn-lg.btn-success( ng-click="registrarDatos()" ) guardar resultado
                                            .row(ng-if="prueba.realizada")
                                                .col-md-12
                                                    a.btn.btn-lg.btn-danger(ng-click="eliminarPrueba") eliminar prueba
append script
    script(src="/javascripts/angular/controladores/prueba.js")


