//
   Created by khris on 11-13-16.

extends ../base

block content

    header
        .container
            .intro-text
                .col-lg-12.text-center
                    h2.section-heading.colorblanco Aplicacion para medir temperaturas en aletas
                    h3.section-subheading.text-muted maquina de medicion de temperaturas

    section#inicio
        .row.text-center
            .col-md-4
            .col-md-4
                .row
                    .col-sm-4
                        span.fa-stack.fa-4x
                            i.fa.fa-square.fa-stack-2x.text-primary
                            i.fa.fa-cog.fa-spin.fa-stack-1x.fa-inverse
                        h4.service-heading Iniciar la aplicacion
                        p.text-muted Iniciar nueva prueba
                        a.btn.btn-lg.btn-success(href="prueba/crear", name='button') iniciar
                    .col-sm-4
                        span.fa-stack.fa-4x
                            i.fa.fa-square.fa-stack-2x.text-primary
                            i.fa.fa-archive.fa-stack-1x.fa-inverse
                        h4.service-heading Consultar pruebas
                        p.text-muted Consultar pruebas realizadas
                        a.btn.btn-lg.btn-success(href="/prueba", name='button') consultar
                    .col-sm-4
                        span.fa-stack.fa-4x
                            i.fa.fa-square.fa-stack-2x.text-primary
                            i.fa.fa-briefcase.fa-stack-1x.fa-inverse
                        h4.service-heading Configuraciones
                        p.text-muted Configuraciones de la aplicacion
                        a.btn.btn-lg.btn-success(href="/admin", name='button') configurar
            .col-md-4
    section#team
        .container
            .row
                .col-lg-12.text-center
                    h2.section-heading Equipo de trabajo
                    h3.section-subheading.text-muted Trabajo realizado por 2 estudiantes de Ingeniera Mecanica
            .row
                .col-sm-4
                    .team-member

                        h4 Sandor Mauricio Lazo Espinoza
                        p.text-muted Estudiante
                        ul.list-inline.social-buttons
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-linkedin
                .col-sm-4
                .col-sm-4
                    .team-member

                        h4 Marvin René Salguero Ramírez
                        p.text-muted Estudiante
                        ul.list-inline.social-buttons
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-linkedin
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    p.large.text-muted
                        | Equipo de trabajo para el desarrollo del presente proyecto de tesis, Universidad de El Salvador 2017.
