//
   Created by khris on 11-13-16.

extends ../base

block content
    .container
        .jumbotron
            h1 App para control de temperatura
            a.btn.btn-lg.btn-success( href="/temperatura") Ir a la aplicacion
